nombre
{{input value=actividad.nombre}}
inicio
{{input type='datetime-local' value=actividad.inicio}}
fin
{{input type='datetime-local' value=actividad.fin}}

<button {{action 'destroyActividad'}}>Quitar</button>
