<h3>
	Iniciar sesión
</h3>

<h3>Si ya tienes cuenta en:</h3>

<button {{action 'sigIn' 'facebook'}}>Iniciar con Facebook</button>


<h3>O usando tu correo electrónico</h3>

<p>	
	<label>Correo electrónico</label>
	{{input value=email}}
</p>

<p>
	<label>Contraseña</label>
	{{input type="password" value=password}}
</p>


<p>
	<button {{action 'sigIn' 'email'}}>Iniciar sesión</button>
</p>