<h3>Edita tu perfil</h3>

<form {{action 'save' on='submit'}}>
	<div>
		<label>Tu nombre</label>
		{{input value=model.nombre}}
	</div>

	<div>
		<label>Añade una foto de perfil</label>
		{{profile-pic-picker initialImg=model.picURL didChange=(action 'changePicUrl')}}			
	</div>

	<p>
		<button type="submit">Actualizar</button>
	</p>
</form>